i.icon-close {
    font-size: 46px;
    color: white;
    cursor: pointer;
}

#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
    display: none;
}
#modal.show {
    display: block;
}

#modal-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 95%;
    overflow: auto;
    z-index: 9999;
    color: #c00;
    padding: 20px;
}

#modal-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    z-index: 9999;
    color: #ecf0f1;
    padding: 20px;
    font-family: monospace;
    font-size: 14px;
}

#stack-trace {
    font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	text-align: left;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.stretch {
    width: 100%;
    height: auto;
}