#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
    display: none;
}
#modal.show {
    display: block;
}

#modal-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 30%;
    bottom: 0;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    z-index: 9999;
    color: #c00;
    padding: 20px;
}