@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

body {
  background: #f6f8f8;
  font-size: 100%;
  padding: 3em 0;
}

.promos {
  max-width: 1140px;
  margin: 0 auto;
}

.promo {
  margin: 1em .5em 1.625em;
  padding: .25em 0 2em;
  background: #0F1012;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.625;
  color: #f9f9f9;
  text-align: center;
}
@media (min-width: 40em) {
  .promo {
    display: inline;
    float: left;
    width: 33.333%;
    margin: 1em 0 0;
    border: 1px solid #f6f8f8;
  }
  .promo.first {
    border-right: none;
  }
  .promo.second {
    float: right;
    border-left: none;
  }
}
.promo h4 {
  margin: .25em 0 0;
  font-size: 170%;
  font-weight: normal;
}
.promo .features {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #999999;
}
.promo li {
  padding: .25em 0;
}
.promo .brief {
  color: #f9f9f9;
}
.promo .price {
  margin: .5em 0;
  padding: .25em 0;
  background: #4a4a4a;
  font-size: 250%;
  color: #f9f9f9;
}
.promo .buy {
  margin: 1em 0 0;
}
.promo button {
  padding: 1em 3.25em;
  border: none;
  border-radius: 40px;
  background: #292b2e;
  color: #f9f9f9;
  cursor: pointer;
}
.promo button:hover {
  background: #27282b;
}

.scale button {
  background: #64AAA4;
}
.scale button:hover {
  background: #4e8d88;
}
@media (min-width: 40em) {
  .scale {
    transform: scale(1.2);
    box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
  }
  .scale .price {
    color: #64AAA4;
  }
}

.dev-logo{
    width: 48px;
}

.link-font{
    color: white;
}