#heading_common, h1{
text-align: center;
letter-spacing: 4px;
font-size: 34px;
font-family: times, Times New Roman, times-roman, georgia, serif;
}

#heading_common, p{
text-align: center;
letter-spacing: 4px;
font-size: 14px;
font-family: times, Times New Roman, times-roman, georgia, serif;
}

p{
text-align: center;
letter-spacing: 4px;
font-size: 14px;
font-family: times, Times New Roman, times-roman, georgia, serif;
}

#console {
  color: #999;
  line-height: 18px;
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}

#mySwipe div b {

}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width: 20px;
  position: relative;
}
