<html>

<head>
    <meta charset="utf-8">
    <title>Facts</title>
	  <script type = "text/javascript" src = "../js/jquery-1.12.1.min.js"></script>

    <!-- amCharts javascript sources -->
    <script type="text/javascript" src="../js/amcharts.js"></script>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png" />
    <script type="text/javascript" src="../js/serial.js"></script>
    <script type="text/javascript" src="../js/module_parser.js"></script>
    <link rel="stylesheet" href="../css/reset_2.css">
    <link rel="stylesheet" href="../css/pricing-tables.css">
	  <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/module_cards.css">
    <script src="../js/raphael-2.1.4.min.js"></script>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
    <link rel="stylesheet" href="../css/logo.css">

    <link rel="stylesheet" href="../css/bootstrap-vertical-menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="../js/fact_utils.js"></script>
    <!--[if lte IE 9]><link rel="stylesheet" href="../css/ie.css"><![endif]-->
    <link rel="stylesheet" href="../css/bubble.css">
</head>
<body>
    <nav class="navbar navbar-vertical-left">
    <ul class="nav navbar-nav">
      <li>
        <a href="summary.html">
          <i class="fa fa-fw fa-lg fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="env.html">
          <i class="fa fa-fw fa-lg fa-envira" aria-hidden="true"></i>
          <span>Environment</span>
        </a>
      </li>
      <li>
        <a href="bubble.html">
          <i class="fa fa-fw fa-lg fa-comments-o" aria-hidden="true"></i>
          <span>Facts</span>
        </a>
      </li>
        <li>
        <a href="modules.html">
          <i class="fa fa-fw fa-lg fa-newspaper-o"></i>
          <span>Specs Summary</span>
        </a>
      </li>
      <li>
        <a href="test_execution_time_graph.html">
            <i class="fa fa-fw fa-lg fa-line-chart"></i>
            <span>Test trends</span>
        </a>
      </li>
    </ul></nav>
<br>
<br>
<div id="heading_common">
    <h1>Facts about the Test Runs</h1>
    <img class="logo" src="../images/logo_reportmine.png" />
    <hr width="100%">
</div>
<div id="heading_common"><p>Click on the bubble to check fact details</p></div>
<br>
  <div id = "stage_spec" class="facts" style = "">
      <br>
      <br>
      <div class="row-1">
        <div class="circle">
            <h2 class="fact-heading">The Slowest Test Took</h2><br>
            <span class="time-exe"></span><br>
            <span class="time-unit">Seconds</span><br>
            <button class="btn-awesome" id="check_slw_test">Check</button>
        </div>
        <div class="circle">
            <h2 class="fact-heading">The Slowest Module Took</h2><br>
            <span class="time-module"></span><br>
            <span class="time-unit">Seconds Per Test</span><br>
            <button class="btn-awesome" id="check_slw_mod">Check</button>
        </div>

        <div class="circle">
            <h2 class="fact-heading">Vulnerable Module Has</h2><br>
            <span class="vul-module"></span><span class="percent">%</span><br>
            <span class="time-unit">Failures</span><br>
            <button class="btn-awesome" id="check_vul_mod">Check</button>
        </div>
      </div>
      <div class="row-2">
        <div class="circle">
            <h2 class="fact-heading">The Fastest Module Took</h2><br>
            <span class="fastest-module"></span><br>
            <span class="time-unit">Seconds Per Test</span><br>
            <button class="btn-awesome" id="check_fast_mod">Check</button>
        </div>
        <div class="circle">
            <h2 class="fact-heading">On Average</h2><br>
            <span class="avg-time"></span><br>
            <span class="time-unit">Seconds Per Test</span><br>
            <button class="btn-awesome" id="avg_test">Check</button>
        </div>

      </div>
  </div><footer>
</footer>
</body>
</html>
