<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type = "text/javascript"
            src = "../js/jquery-1.12.1.min.js"></script>
    <link rel="stylesheet" href="../css/accor.css">
    <link rel="stylesheet" href="../css/heading.css">
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <script type = "text/javascript" language = "javascript" src="../js/stacktrace.js"></script>
    <script type = "text/javascript" language = "javascript" src="../js/accor.js"></script>
    <link rel="stylesheet" href="../css/card_open.css">
</head>
<body>
<div id="heading">
    <h1>Failed Specs</h1>
    <div id="heading"><p>Click on the arrow to see the stacktrace</p></div>
</div>

<div class="container">
          <div class="accordion">
            <dl>
            </dl>
          </div>
</div>

<footer style="margin-top: 70%; text-align:center;">
</footer>
</body>
</html>