<html>

<head>
    <meta charset="utf-8">
    <title>Module Report</title>
	  <script type = "text/javascript" src = "../js/jquery-1.12.1.min.js"></script>

    <!-- amCharts javascript sources -->
    <script type="text/javascript" src="../js/amcharts.js"></script>
    <script type="text/javascript" src="../js/serial.js"></script>
    <script type="text/javascript" src="../js/module_parser.js"></script>
    <link rel="stylesheet" href="../css/reset_2.css">
    <link rel="stylesheet" href="../css/pricing-tables.css">
	  <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/module_cards.css">
    <script src="../js/raphael-2.1.4.min.js"></script>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
    <link rel="stylesheet" href="../css/logo.css">
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png" />
    <link rel="stylesheet" href="../css/bootstrap-vertical-menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--[if lte IE 9]><link rel="stylesheet" href="../css/ie.css"><![endif]-->
</head>
<body>
    <nav class="navbar navbar-vertical-left">
    <ul class="nav navbar-nav">
      <li>
        <a href="summary.html">
          <i class="fa fa-fw fa-lg fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="env.html">
          <i class="fa fa-fw fa-lg fa-envira" aria-hidden="true"></i>
          <span>Environment</span>
        </a>
      </li>
      <li>
        <a href="bubble.html">
          <i class="fa fa-fw fa-lg fa-comments-o" aria-hidden="true"></i>
          <span>Facts</span>
        </a>
      </li>

      <li>
        <a href="modules.html">
          <i class="fa fa-fw fa-lg fa-newspaper-o"></i>
          <span>Specs Summary</span>
        </a>
      </li>
      <li>
        <a href="test_execution_time_graph.html">
            <i class="fa fa-fw fa-lg fa-line-chart"></i>
            <span>Test trends</span>
        </a>
      </li>
    </ul></nav>
<br>
<br>
<div id="heading_common">
    <h1>Summary of Modules</h1>
    <img class="logo" src="../images/logo_reportmine.png" />
    <hr width="100%">
</div>
<div id="heading_common"><p>Hover over the graph to see the numbers</p></div>
<br>
<div id="pricing-table" class="clear" align="center"></div>
<center><div id="chartdiv" style="width: 90%; height: 400px; text-align:center" ></div></center>
<footer>
</footer>
</body>
</html>
