<html>
<head>
    <meta charset="utf-8">
    <title>Report</title>
    <script type = "text/javascript"
            src = "../js/jquery-1.12.1.min.js"></script>
    <script type = "text/javascript" language = "javascript" src="../js/setup.js"></script>
    <script type = "text/javascript" language = "javascript" src="../js/parser.js"></script>
    <!-- amCharts javascript sources -->
    <script type="text/javascript" src="../js/amcharts.js"></script>
    <script type="text/javascript" src="../js/pie.js"></script>
    <script type="text/javascript" src="../js/swipe.js"></script>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>

    <link rel="stylesheet" href="../css/bootstrap-vertical-menu.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/chart_style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/pricing-tables.css">
    <link rel="stylesheet" href="../css/card_open.css">
    <link rel="stylesheet" href="../css/smry_button.css">
    <link rel="stylesheet" href="../css/extra.css">
    <link rel="stylesheet" href="../css/bubble.css">

    <script src="../js/justgage.js"></script>
    <script src="../js/raphael-2.1.4.min.js"></script>
    <script type="text/javascript" src="../js/page_functions_summary.js"></script>

    <!--[if lte IE 9]><link rel="stylesheet" href="../css/ie.css"><![endif]-->

    <style>
        .amcharts-chart-div {
            width: 1500px !important;
            text-align: center !important;
        }

        svg path{
            width: 1000px !important;
            text-align: center !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-vertical-left">
    <ul class="nav navbar-nav">
      <li>
        <a href="views/summary.html">
          <i class="fa fa-fw fa-lg fa-home"></i> 
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href>
          <i class="fa fa-fw fa-lg fa-briefcase"></i> 
          <span>Suite Summary</span>
        </a>
      </li>
      <li>
        <a href="views/modules.html">
          <i class="fa fa-fw fa-lg fa-newspaper-o"></i> 
          <span>Specs Summary</span>
        </a>
      </li>
      <li>
        <a href="views/test_execution_time_graph.html">
            <i class="fa fa-fw fa-lg fa-line-chart"></i>
            <span>Test trends</span>
        </a>
      </li>
    </ul></nav>
<br>
<br>
<div id="heading_common">
    <h1>Summary of the Suite Run</h1>
    <hr width="100%">
</div>
<div id="heading_common"><p>Hover over the pie to see the numbers</p></div>
<br>
<br>
<p style="height: 10px;"></p>
<div class='slider' style="width: 721 px">
    <div class="pagination" align="center">
        <button class="button feature-button arrow">Execution Details</button>
        <button class="button step-button arrow">Environment Details</button>
        <button class="button scenario-button arrow">Facts</button>
    </div>
  <div id = "stage" style = "">
      <br>
    <table class="pricing-table">
        <thead>
        <tr class="plan">
            <td class="green">
                <h2>Pass</h2>
                <em>Happy Tests</em>
            </td>
            <td class="red">
                <h2>Failed</h2>
                <em>Assertions went wrong</em>
            </td>
            <td class="orange">
                <h2>Errors</h2>
                <em>Exceptions</em>
            </td>
            <td class="yellow">
                <h2>Skips</h2>
                <em>Did not run</em>
            </td>

        </tr>
        <tr class="price">
            <td class="green">
                <a href="views/test_result.html?status=passed">Check</a>
            </td>
            <td class="red">
                <a href="views/test_result.html?status=failed">Check</a>
            </td>
            <td class="orange">
                <a href="views/test_result.html?status=error">Check</a>
            </td>
            <td class="yellow">
                <a href="views/test_result.html?status=skipped">Check</a>
            </td>
        </tr>
        </thead>
    </table>
      <p style="height: 30px;"></p>
    <div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
  </div>
  <div id = "execution_details" style="">
      <br>
    <table class="container">
        <tbody>
            <tr>
                <td id="first-details"></td>
                <td class="info"></td>
                <td class="project"></td>
            </tr>
            <tr>
                <td id="second-details"></td>
                <td class="info"></td>
                <td class="env"></td>
            </tr>
            <tr>
                <td id="third-details"></td>
                <td class="info"></td>
                <td class="tags"></td>
            </tr>
            <tr>
                <td id="fourth-details"></td>
                <td class="info"></td>
                <td class="gt"></td>
            </tr>
        </tbody>
    </table>
    <div id="gaugechart" class="200x160px" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
  </div>
  <div id = "stage_spec" class="facts" style = "">
      <br>
      <br>
      <div class="row-1">
        <div class="circle">
            <h2 class="fact-heading">The slowest test</h2><br>
            <span class="time-exe">15</span><br>
            <span class="time-unit">Seconds</span><br>
            <button class="btn-awesome">Check</button>
        </div>
        <div class="circle">
            <h2 class="fact-heading">The slowest module</h2><br>
            <span class="time-exe">127</span><br>
            <span class="time-unit">Seconds</span><br>
            <button class="btn-awesome">Check</button>
        </div>

        <div class="circle">
            <h2 class="fact-heading">Vulnerable Module</h2><br>
            <span class="time-exe">85</span><span class="percent">%</span><br>
            <span class="time-unit">Failures</span><br>
            <button class="btn-awesome">Check</button>
        </div>
      </div>
      <div class="row-2">
        <div class="circle">
            <h2 class="fact-heading">The Fastest Module</h2><br>
            <span class="time-exe">37</span><br>
            <span class="time-unit">Seconds</span><br>
            <button class="btn-awesome">Check</button>
        </div>
        <div class="circle">
            <h2 class="fact-heading">On Average</h2><br>
            <span class="time-exe">7</span><br>
            <span class="time-unit">Seconds/Test</span><br>
            <button class="btn-awesome">Check</button>
        </div>

      </div>
  </div>
</div>


<p style="height: 10px;"></p><br>
<script type="text/javascript" src="../js/swiping.js"></script>
<!--<div id="module-link"><a href="modules.html" align="center">Check the Modules Report</a></div>-->
<br>


<footer>
</footer>
</body>

</html>
